*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: 'Source Sans Pro', sans-serif;   
}

/* General Styling */

header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-bottom: 2px solid #C6C6C6;
    background-color: white;
    padding: 16px;
    margin: 0 auto; 
    width: 375px; 
}

.container{
    width: 375px;
    margin:auto;
    padding: 0;
}

.avatar,
.logo, 
.postdiv,
.post-img{
    margin:0;
    padding: 0; 
}

.avatar{
height: 34px;
width: 34px;
border-radius: 50%; 
}

.user-loc img{
    margin-right: 7px;
}

.logo{
  width: 127px;
  max-width: 30%;  
}

.user-loc{
     margin: auto 0; 
    padding: 10px; 
}

.user-info{
    display:inline-block; 
}

.post-img{
  width: 100%;  
 
}
.icon{
    width: 23.3px;
    height:22.13px;
    margin:21px 20px 11px 10px;
    padding:0; 
}
.icon:hover,
.icon:active{
 opacity: 0.5;
}
.icon:focus,
.icon:active{
    filter: invert(12%) sepia(83%) saturate(4217%) hue-rotate(352deg) brightness(110%) contrast(87%);
    opacity: 1;
}


p{
   
    
}
strong{
    font-size: 13px; 
}